.v-enter-active, .v-leave-active {
    transition: opacity 1s;
}
.v-enter, .v-leave-to {
    opacity: 0;
}
.info {
    background-color: aqua;
}
.error {
    color: red;
}
.errorArea {
    background: rgb(199, 83, 83);
}